.sertification {
  background-color: $secondery-bg;
  padding-bottom: 8rem;
  @media (max-width: $breakpoint768) {
    padding-bottom: 4rem;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8.7rem;
    @media (max-width: $breakpoint992) {
      flex-direction: column;
      gap: 6rem;
    }
    @media (max-width: $breakpoint768) {
      gap: 4rem;
    }
  }
}

.sertification__title {
  color: $color-title-secondery;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(2.4rem / 1.5rem); /* 160% */
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex: 0 0 auto;
  @media (max-width: $breakpoint992) {
    position: relative;
    font-size: 1.8rem;
  }

  &::after {
    content: "";
    display: block;
    width: 147px;
    height: 1px;
    background: $accent;
    @media (max-width: $breakpoint992) {
      position: absolute;
      bottom: -1rem;
      left: 0;
      width: 100%;
    }
  }
}
.sertification__items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
  @media (max-width: $breakpoint992) {
    justify-content: center;
  }
  @media (max-width: $breakpoint576) {
    flex-wrap: wrap;
    gap: 5rem;
  }
}
.sertification__item {
  display: block;

  height: auto;
  object-fit: contain;
}
